/** We must specify variables before importing bootstrap in order to customize the generated css */
@import '~swagger-ui-react/swagger-ui.css';

$enable-shadows: true;
// $enable-gradients: true;
// $font-size-base: 0.9rem;
// $line-height-base: 1;

@import '~bootstrap/scss/bootstrap';
// @import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
// @import '~react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
// @import '~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';

// @media (min-width: 1600px) {
//   .container {
//     min-width: 1440px;
//   }
// }

@import '~bootstrap-icons/font/bootstrap-icons.scss';

/** Default Overrides **/
html {
  scroll-behavior: smooth;
}

hr {
  margin: 0;
}

a {
  // color: rgb(0, 140, 186);
  color: #0054b3;
  text-decoration: none;
}

label {
  font-weight: bold;
  margin-bottom: 0;
}

label.required {
  font-weight: bold;
}

label.required::after {
  content: '*';
  color: red;
}

label.disabled {
  cursor: not-allowed;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.no-wrap {
  flex: 0 0 auto;
}

/** Bootstrap Overrides **/
body {
  min-width: 500px;
  font-size: 1rem;
  font-family: 'Inter';
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 60pt;
}
h2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28pt;
}
h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24pt;
}
h4 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 22pt;
}

h5 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18pt;
}

h6 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15pt;
}

.link-primary {
  color: #8e4b86 !important;
}

.link-primary-underline {
  color: #8e4b86 !important;
  text-decoration: underline;
}

.link-primary-underline:hover {
  color: #8e4b86 !important;
  text-decoration: none;
}
.outline-none {
  outline: none !important;
  background-color: #f7f5f4;
}

.bg-primary-lighter {
  background-color: #d9e8f6;
}

.bg-primary-light {
  background-color: #63a4ff;
}

.bg-primary {
  background-color: #1976d2 !important;
}

.bg-secondary {
  background-color: #ffffff !important;
}

.bg-egg {
  background-color: #f7f5f4;
}

.bg-gray {
  background-color: #606061;
}

.bg-primary-vivid {
  background-color: #0050d8;
}

.bg-primary-dark {
  background-color: #004ba0;
}

.bg-primary-darker {
  background-color: #1b1b1b;
}

.bg-primary {
  color: #252525;
}

.bg-primary-green {
  color: #2cc799 !important;
}

.bg-primary-purple {
  color: #8e4b86 !important;
}

.text-primary-lavender {
  color: #f1e4ef;
}

.border-primary-purple {
  color: #8e4b86 !important;
}

.border-primary-lavender {
  color: #f1e4ef;
}

.bg-primary-lightgray {
  color: #f5f5f5;
}

.bg-primary-gray {
  color: #606061;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-primary {
  color: #fff;
  background-color: #8e4b86;
  border-color: #8e4b86;

  &.disabled {
    @extend .btn-outline-primary;
  }
}
.btn-primary:disabled {
  background-color: #f1e4ef;
  color: #8e4b86;
  border-color: #8e4b86;
}
.btn-1 {
  font: 'Inter';
  font-size: 14pt;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-2 {
  font: 'Inter';
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-dark {
  &.disabled {
    @extend .btn-outline-dark;
  }
}

.btn-primary:hover {
  background-color: #f1e4ef;
  color: #8e4b86;
  border-color: #8e4b86;
}

.btn-silver {
  // background-color:#D3D3D3;
  background-image: linear-gradient(#ffffff, #eeeeee);
  color: black;
  border-color: #dee2e6;
}

.btn-silver:hover {
  background-image: linear-gradient(#ffffff, #eeeeee);
  color: black;
  border-color: #dee2e6;
}

.btn-silver:active {
  background-image: linear-gradient(#ffffff, #e4e4e4) !important;
  color: black !important;
  border-color: #dee2e6 !important;
}

.btn-collapse {
  background-color: white;
  border: none;
}

.btn-collapse:focus {
  outline: none;
}

.btn.btn-link {
  // color: rgb(0, 140, 186);
  color: #8e4b86;
}

.btn.btn-link:active,
.btn.btn-link:not(:disabled):not(.disabled):active {
  border: none;
  box-shadow: none;
}
.text-primary {
  color: #252525;
}

.text-orange {
  color: orange !important;
}

.text-secondary {
  color: #fafafa !important;
}

.text-primary-green {
  color: #2cc799 !important;
}

.text-primary-purple {
  color: #8e4b86 !important;
}

.text-primary-lavender {
  color: #f1e4ef;
}

.text-primary-lightgray {
  color: #f5f5f5;
}

.text-primary-gray {
  color: #606061;
}

.text-allcaps {
  text-transform: uppercase;
}

.flex-shrink-auto {
  flex: 0 1 auto;
  width: auto;
}

.flex-grow-auto {
  flex: 1 0 auto;
  width: auto;
}

a.nav-link {
  color: #005ea2;
}

a.nav-link.active {
  background-color: #07648d !important;
}

.nav-tabs > .nav-item {
  // font-weight: 600;
  color: black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 600;
}

// .nav-tabs .nav-link.active {
//   color: black !important;
// }
.catalog.nav-link.active {
  color: #4b833a !important;
  text-decoration: none;
  border-bottom: none;
}
.nav-tabs .nav-link {
  border-bottom: 0;
}

.nav-tabs {
  margin-bottom: -1px;
  border: 0;
  :hover {
    border-bottom: 0;
  }
}

/** Common **/

.tab-pane {
  border: 1px solid #dee2e6;
}

.tab-pane-bordered {
  border: 1px solid #dee2e6;
}

.custom-control-label {
  font-weight: 400;
  cursor: pointer;
}

.opacity-50 {
  opacity: 0.5;
}

.c-pointer {
  cursor: pointer;
}

.c-not-allowed {
  cursor: not-allowed;
}

.pointer-events-all {
  pointer-events: all;
}

.pointer-events-none {
  pointer-events: none;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  color: #595959 !important;
  opacity: 0.8;
}

.link:hover {
  color: #444 !important;
  text-decoration: underline !important;
}

.small-link {
  font-size: 0.8rem;
  font-weight: 600;
  color: #007bff !important;
  text-decoration: none;
  cursor: pointer;
}

.small-link:hover {
  text-decoration: underline !important;
}

select.form-control-sm {
  padding-right: 0;
}

.input-group > .form-control::placeholder {
  font-size: 10pt !important;
}

.form-control {
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
} /* WebKit, Blink, Edge */

.form-control:-moz-placeholder {
  color: #aaa;
} /* Mozilla Firefox 4 to 18 */

.form-control::-moz-placeholder {
  color: #aaa;
} /* Mozilla Firefox 19+ */

.form-control:-ms-input-placeholder {
  color: #aaa;
} /* Internet Explorer 10-11 */

.form-control::-ms-input-placeholder {
  color: #aaa;
} /* Microsoft Edge */

// custom popup tooltip for manhattan plot, qq-plot, and heatmap

.popup-tooltip {
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.hovertext {
  opacity: 0.8;
}

.swagger-ui {
  font-family: var(--bs-body-font-family);

  .wrapper {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
  }
}
.w-95 {
  width: 95%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.h-30 {
  height: 30%;
}

.w-30 {
  width: 30%;
}

.bg-catalog {
  background-color: #4b833a;
}

.text-catalog {
  color: #4b833a;
}

.text-catalog:hover {
  color: #37622a;
}

.border-catalog {
  border: 2px solid #4b833a;
}

.bg-catalog-daker {
  background-color: #37622a;
}

.btn-catalog {
  background-color: #4b833a;
  color: white;
  border-color: #37622a;
  border-radius: 12px;
}

.btn-catalog:hover {
  background-color: #37622a;
  color: white;
  border-color: #4b833a;
}

.btn-catalog:active {
  background-color: #4b833a !important;
  color: white !important;
  border-color: #37622a !important;
}

.bg-visualization {
  background-color: #3a7867;
}

.text-visualization {
  color: #3a7867;
}

.bg-visualization-darker {
  background-color: #2c5b4e;
}

.btn-visualization {
  background-color: #3a7867;
  color: white;
  border-color: #2c5b4e;
  border-radius: 12px;
}

.btn-visualization:hover {
  background-color: #2c5b4e;
  color: white;
  border-color: #3a7867;
}

.btn-visualization:active {
  background-color: #3a7867 !important;
  color: white !important;
  border-color: #2c5b4e !important;
}

.text-extraction {
  color: #42688b;
}

.bg-extraction {
  background-color: #42688b;
}

.bg-extraction-darker {
  background-color: #2f4a64;
}

.btn-extraction {
  background-color: #42688b;
  color: white;
  border-color: #2f4a64;
  border-radius: 12px;
}

.btn-extraction:hover {
  background-color: #2f4a64;
  color: white;
  border-color: #42688b;
}

.btn-extraction:active {
  background-color: #42688b !important;
  color: white !important;
  border-color: #2f4a64 !important;
}

.bg-exploration {
  background-color: #837244;
}
.text-exploration {
  color: #837244;
}

.text-exploration:hover {
  color: #5a4e2e;
}
.bg-exploration-darker {
  background-color: #5a4e2e;
}

.btn-exploration {
  background-color: #837244;
  color: white;
  border-color: #5a4e2e;
  border-radius: 12px;
}

.btn-exploration:hover {
  background-color: #5a4e2e;
  color: white;
  border-color: #837244;
}

.btn-exploration:active {
  background-color: #837244 !important;
  color: white !important;
  border-color: #5a4e2e !important;
}

.bg-association {
  background-color: #b83d47;
}

.bg-association:hover .association:hover {
  background-color: #7f282f;
}

.text-association {
  color: #b83d47;
}
.bg-association-darker {
  background-color: #7f282f;
}

.btn-association {
  background-color: #b83d47;
  color: white;
  border-color: #7f282f;
  border-radius: 12px;
}

.btn-association:hover {
  background-color: #7f282f;
  color: white;
  border-color: #b83d47;
}

.btn-association:active {
  background-color: #b83d47 !important;
  color: white !important;
  border-color: #7f282f !important;
}

.bg-api {
  background-color: #4b325e;
}

.text-api {
  color: #4b325e;
}
.bg-api-darker {
  background-color: #1a1121;
}

.btn-api {
  background-color: #4b325e;
  color: white;
  border-color: #1a1121;
  border-radius: 12px;
}

.btn-api:hover {
  background-color: #1a1121;
  color: white;
  border-color: #4b325e;
}

.btn-api:active {
  background-color: #4b325e !important;
  color: white !important;
  border-color: #1a1121 !important;
}

.btn-gradient {
  background-image: linear-gradient(to right, #b83d47 0%, #8e4b86 55%);
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.btn-gradient:hover {
  background-image: linear-gradient(to right, #8e4b86 0%, #b83d47 55%);
  color: white;
  cursor: pointer;
}

.btn-gradient:active {
  background-image: linear-gradient(to right, #b83d47 0%, #8e4b86 55%);
  color: white !important;
}

.btn-secondary {
  background-color: #f1e4ef;
  border-color: #8e4b86;
  color: #8e4b86 !important;
}
.btn-secondary:hover {
  background-color: #8e4b86;
  border-color: #f1e4ef;
  color: #f1e4ef !important;
  text-decoration: none;
}

.border-12 {
  border-radius: 12px;
}

.msigportal-form-dropdown {
  color: whitesmoke !important;
  background-color: #bf5279 !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: #8e4b86;
  border-color: #f1e4ef;
  color: #f1e4ef !important;
}

.msigportal-bg {
  background-color: #f1e4ef;
  border-color: #8e4b86;
  color: #8e4b86 !important;
}

.react-select-custom-background {
  border-color: #8e4b86;
  background-color: #f1e4ef;
}

.react-select-custom-background:focus {
  border-color: #f1e4ef;
  background-color: #f1e4ef;
}
.navbar-light .navbar-toggler {
  border-color: white;
}
.navbar-light .navbar-toggler {
  background-color: #f1e4ef;
}

/**** x-large devices ****/

@media (min-device-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}
/**** large devices ****/
@media (min-device-width: 992px) and (max-device-width: 1199px) {
  .card-columns {
    column-count: 3;
  }
}
/**** medium devices ****/
@media (min-device-width: 768px) and (max-device-width: 991px) {
  .card-columns {
    column-count: 2;
  }
}
/**** small devices ****/
@media (min-device-width: 576px) and (max-device-width: 767px) {
  .card-columns {
    column-count: 1;
  }
}
/**** x-small devices ****/
@media (max-device-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

/**** large devices ****/
@media (min-width: 992px) and (max-width: 1199px) {
  .card-columns {
    column-count: 3;
  }
}
/**** medium devices ****/
@media (min-width: 768px) and (max-width: 991px) {
  .card-columns {
    column-count: 2;
  }
}
/**** small devices ****/
@media (min-width: 576px) and (max-width: 767px) {
  .card-columns {
    column-count: 1;
  }
}
/**** x-small devices ****/
@media (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}
