/** We must specify variables before importing bootstrap in order to customize the generated css */
@import '~swagger-ui-react/swagger-ui.css';

$enable-shadows: true;
// $enable-gradients: true;
// $font-size-base: 0.9rem;
// $line-height-base: 1;

@import '~bootstrap/scss/bootstrap';
// @import '~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
// @import '~react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
// @import '~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';

// @media (min-width: 1600px) {
//   .container {
//     min-width: 1440px;
//   }
// }

@import '~bootstrap-icons/font/bootstrap-icons.scss';

/** Default Overrides **/

hr {
  margin: 0;
}

a {
  // color: rgb(0, 140, 186);
  color: #0054b3;
  text-decoration: none;
}

label {
  font-weight: bold;
  margin-bottom: 0;
}

label.required {
  font-weight: bold;
}

label.required::after {
  content: '*';
  color: red;
}

label.disabled {
  cursor: not-allowed;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/** Bootstrap Overrides **/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.outline-none {
  outline: none !important;
  background-color: #f7f5f4;
}

.bg-primary-lighter {
  background-color: #d9e8f6;
}

.bg-primary-light {
  background-color: #63a4ff;
}

.bg-primary {
  background-color: #1976d2 !important;
}

.bg-secondary {
  background-color: #ffffff !important;
}

.bg-egg {
  background-color: #f7f5f4;
}

.bg-primary-vivid {
  background-color: #0050d8;
}

.bg-primary-dark {
  background-color: #004ba0;
}

.bg-primary-darker {
  background-color: #1b1b1b;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;

  &.disabled {
    @extend .btn-outline-primary;
  }
}

.btn-dark {
  &.disabled {
    @extend .btn-outline-dark;
  }
}

.btn-silver {
  // background-color:#D3D3D3;
  background-image: linear-gradient(#ffffff, #eeeeee);
  color: black;
  border-color: #dee2e6;
}

.btn-silver:hover {
  background-image: linear-gradient(#ffffff, #eeeeee);
  color: black;
  border-color: #dee2e6;
}

.btn-silver:active {
  background-image: linear-gradient(#ffffff, #e4e4e4) !important;
  color: black !important;
  border-color: #dee2e6 !important;
}

.btn-collapse {
  background-color: white;
  border: none;
}

.btn-collapse:focus {
  outline: none;
}

.btn.btn-link {
  // color: rgb(0, 140, 186);
  color: rgb(0, 126, 167);
}

.btn.btn-link:active,
.btn.btn-link:not(:disabled):not(.disabled):active {
  border: none;
  box-shadow: none;
}
.text-primary {
  color: #252525;
}

.text-orange {
  color: orange !important;
}

.text-secondary {
  color: #fafafa !important;
}

.text-green {
  color: #2cc799 !important;
}

.text-purple {
  color: #8e4b86 !important;
}

.text-lavender {
  color: #f1e4ef;
}

.text-lightgray {
  color: #f5f5f5;
}

.flex-shrink-auto {
  flex: 0 1 auto;
  width: auto;
}

.flex-grow-auto {
  flex: 1 0 auto;
  width: auto;
}

a.nav-link {
  color: #005ea2;
}

a.nav-link.active {
  background-color: #07648d !important;
}

.nav-tabs > .nav-item {
  // font-weight: 600;
  color: black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  color: black !important;
}

.nav-tabs .nav-link {
  border-bottom: 0;
}

.nav-tabs {
  margin-bottom: -1px;
  border: 0;
  :hover {
    border-bottom: 0;
  }
}

/** Common **/

.tab-pane {
  border: 1px solid #dee2e6;
}

.tab-pane-bordered {
  border: 1px solid #dee2e6;
}

.custom-control-label {
  font-weight: 400;
  cursor: pointer;
}

.opacity-50 {
  opacity: 0.5;
}

.c-pointer {
  cursor: pointer;
}

.c-not-allowed {
  cursor: not-allowed;
}

.pointer-events-all {
  pointer-events: all;
}

.pointer-events-none {
  pointer-events: none;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  color: #595959 !important;
  opacity: 0.8;
}

.link:hover {
  color: #444 !important;
  text-decoration: underline !important;
}

.small-link {
  font-size: 0.8rem;
  font-weight: 600;
  color: #007bff !important;
  text-decoration: none;
  cursor: pointer;
}

.small-link:hover {
  text-decoration: underline !important;
}

select.form-control-sm {
  padding-right: 0;
}

.input-group > .form-control::placeholder {
  font-size: 10pt !important;
}

.form-control {
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: #aaa;
} /* WebKit, Blink, Edge */

.form-control:-moz-placeholder {
  color: #aaa;
} /* Mozilla Firefox 4 to 18 */

.form-control::-moz-placeholder {
  color: #aaa;
} /* Mozilla Firefox 19+ */

.form-control:-ms-input-placeholder {
  color: #aaa;
} /* Internet Explorer 10-11 */

.form-control::-ms-input-placeholder {
  color: #aaa;
} /* Microsoft Edge */

// custom popup tooltip for manhattan plot, qq-plot, and heatmap

.popup-tooltip {
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.hovertext {
  opacity: 0.8;
}

.swagger-ui {
  font-family: var(--bs-body-font-family);

  .wrapper {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
  }
}
.w-95 {
  width: 95%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.h-30 {
  height: 30%;
}

.w-30 {
  width: 30%;
}

.bg-nav-signature-catalog {
  background-color: #37622a;
}

.bg-nav-signature-visualization {
  background-color: #2c5b4e;
}

.bg-nav-signature-extraction {
  background-color: #2f4a64;
}

.bg-nav-signature-exploration {
  background-color: #5a4e2e;
}

.bg-nav-signature-association {
  background-color: #7f282f;
}

.bg-nav-signature-api {
  background-color: #1a1121;
}
