.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
  border: 2px dashed #63a4ff;
  background-color: #fafafa;
  color: #646c7f;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

.dropzone:disabled {
  cursor: default;
}

#removeFile {
  background: transparent;
  border: none;
  outline: none;
}

#removeFile:hover {
  background: #cfd8dc;
}
