.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 2px;
  border: 2px dashed #63a4ff;
  background-color: #fafafa;
  color: #646c7f;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

.dropzone:disabled {
  cursor: default;
}

.faButton {
  background: transparent;
  border: none;
  outline: none;
}

#removeFile:hover {
  background: #cfd8dc;
}

.h-500 {
  max-height: 500px;
}

.h-600 {
  max-height: 600px;
}

.popover {
  min-width: 700px;
}

ul {
  columns: 6;
  column-width: auto;
}
