/logs
/apache_logs
/tmp
/data
node_modules
/packages
/src

*.meta
*.vs
*.Rhistory
*.log
*-audit.json
.DS_Store
.eslintcache
*.env

mSigPortal_Profiler_Extraction.py
mSigPortal-SigProfilerExtractor.py
Sigvisualfunc.R
config.json
database/data
.Rproj.user
