/logs
/apache_logs
/tmp
/data
node_modules
/packages

*.meta
*.vs
*.Rhistory
*.log
*-audit.json
.DS_Store
.eslintcache

mSigPortal_Profiler_Extraction.py
mSigPortal-SigProfilerExtractor.py
Sigvisualfunc.R
config.json
database/data