/node_modules/
/server/logs/
/server/tmp/*
!/server/tmp/.gitkeep
/www/
config*.json
*.meta
*.vs
*.Rhistory
*.log
*-audit.json
.DS_Store
api/python/__pycache__
api/python/mSigPortal_Profiler_Extraction.py
