version: "3"
services:
  # backend:
  #   build:
  #     context: "."
  #     dockerfile: "./docker/backend.dockerfile"
  #   env_file: "./server/.env"
  #   volumes:
  #     - "./data:/data"
  #   environment:
  #     DATA_FOLDER: /data
  #     INPUT_FOLDER: /data/input
  #     OUTPUT_FOLDER: /data/output
  #   ports:
  #     - "8330:8330"

  # extraction:
  #   build:
  #     context: "."
  #     dockerfile: "./docker/extraction.dockerfile"
  #   env_file: "./extraction-service/.env"
  #   volumes:
  #     - "./data:/data"
  #   environment:
  #     DATA_FOLDER: /data
  #     INPUT_FOLDER: /data/input
  #     OUTPUT_FOLDER: /data/output
  #   ports:
  #     - "8332:8332"

  refitting:
    build:
      context: "."
      dockerfile: "./docker/refitting.dockerfile"
    env_file: "./refitting-service/.env"
    volumes:
      - "./data:/data"
    environment:
      DATA_FOLDER: /data
      INPUT_FOLDER: /data/input
      OUTPUT_FOLDER: /data/output
    ports:
      - "8334:8334"
    #entrypoint: ["node", "worker.js", "25e22bdb-2f8e-47c8-aef1-d00a58f0b7ba"]

  # frontend:
  #   build:
  #     context: "."
  #     dockerfile: "./docker/frontend.dockerfile"
  #     args:
  #       APP_PATH: /mutational-signatures
  #   env_file: "./server/.env"
  #   environment:
  #     API_BASE_URL: http://backend:8330
  #     API_EXTRACTION_URL: http://extraction:8332
  #     APP_PATH: /mutational-signatures
  #   ports:
  #     - "3000:80"

  # database:
  #   image: postgres
  #   environment:
  #     POSTGRES_USER: msigportal
  #     POSTGRES_PASSWORD: msigportal
  #     POSTGRES_DB: msigportal
  #   volumes:
  #     - "./data:/var/lib/postgresql/data"
  #   ports:
  #     - "5432:5432"
