.navlinks {
  text-decoration: none !important;
  font-weight: 700;
  color: white;
}

.navlinks:hover {
  opacity: 0.8;
  background-color: #1976d2 !important;
  color: white;
}

.active-navlinks {
  background-color: #1976d2 !important;
  color: white !important;

  // button {
  //   background-color: white !important;
  //   color: black !important;
  //   font-weight: 700 !important;
  // }
}
