.navlinks {
  text-decoration: none !important;
  font-weight: 700;
  color: white;
}

.navlinks:hover {
  background-color: #fafafa;
  color: #2f2f2f;
  border-bottom: 7px solid #fafafa; 
}

.active-navlinks {
  background-color: #fafafa !important;
  color: #2f2f2f !important;
  border-bottom: 7px solid #14819b !important;



  // button {
  //   background-color: white !important;
  //   color: black !important;
  //   font-weight: 700 !important;
  // }
}
