.banner-container {
  z-index: 0;
  overflow: hidden;
  display: block;
  // height: 233px;
  position: relative;

  .banner-overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 300px;
}
.description {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}

.card:hover ~ .description {
  // text-shadow: 1px 0 0 currentColor;
}

.card#Visualization:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #ffb844 !important;
  // border-color: #ffb844 !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Catalog:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #6f9fff !important;
  // border-color: #6f9fff !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Refitting:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #99d067 !important;
  // border-color: #99d067 !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Association:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #b664be !important;
  // border-color: #b664be !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.image-blurred-edge {
  position: relative;
  width: 80%;
  margin: auto;
}

.image-blurred-edge:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  // left: 0;
  background: linear-gradient(
    90deg,
    rgba(247, 245, 244, 1) 0%,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 0) 85%,
    rgba(247, 245, 244, 1) 100%
  );
}
