.banner-container {
  z-index: 0;
  overflow: hidden;
  display: block;
  position: relative;
  height: 1250px;
  background-color: #f5f5f5;

  .banner-overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .homepage-title-left {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 35%;
  }

  .homepage-title-right {
    position: absolute;
    top: 29%;
    right: 16%;
    width: 30%;
  }
}
.homepage-title {
  font-weight: 1rem;
}

.msigportal-home-title {
  font-size: 2.5rem;
}

.msigportal-home-title-right {
  font-size: 1rem;
}
.background-img {
  position: relative;
  top: 0;
  left: 0;
}

.home-grid-banner {
  z-index: 1;
  position: absolute;
  top: 25%;
}

.home-grid {
  z-index: 1;
  position: absolute;
  top: 25%;
  //left: 20%;
  margin: auto;
}

.home-grid-banner-container {
  width: 68%;
  margin: auto;
}
.msigportal-title {
  font-size: 1.4rem;
}

.img-banner {
  background-image: url('../../../../public/assets/images/Hero_Image.png');
  min-height: 390px;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-banner {
  width: 1300px;
  height: 390px;
}
.card-title-homepage {
  font-size: 1.3rem;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 300px;
}
.description {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}

.card#Visualization .card#Catalog {
  border-radius: 28px;
}
.card:hover ~ .description {
  text-shadow: 1px 0 0 currentColor;
}

.card#Visualization:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #ffb844 !important;
  // border-color: #ffb844 !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Catalog:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #6f9fff !important;
  // border-color: #6f9fff !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Refitting:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #99d067 !important;
  // border-color: #99d067 !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Association:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #b664be !important;
  // border-color: #b664be !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Extraction:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #b664be !important;
  // border-color: #b664be !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#Exploration:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #b664be !important;
  // border-color: #b664be !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.card#APIAccess:hover {
  text-decoration: none;
  transform: scale(1.04);
  // background-color: #b664be !important;
  // border-color: #b664be !important;
  transition: all 200ms;
  box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.2);
}

.image-blurred-edge {
  position: relative;
  width: 100%;
  margin: auto;
}

.image-blurred-edge:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  // left: 0;
  background: linear-gradient(
    90deg,
    rgba(247, 245, 244, 1) 0%,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 0) 85%,
    rgba(247, 245, 244, 1) 100%
  );
}

.home-banner-nav-button {
  border-radius: 0px !important;
  border-color: #d62d4c !important;
  border-width: 2px !important;
}

.home-text-border {
  border: 3px solid #cf2c2c !important;
  width: 75px;
}

.home-nav-card {
  transition: background-color 250ms ease-out 50ms !important;
}

.home-nav-card:hover {
  background-color: darkgrey !important;
}

.btn-border-radius-25 {
  border-radius: 25%;
}
.btn-border-radius-15 {
  border-radius: 15%;
}
.btn-border-radius-12 {
  border-radius: 12%;
}
.home-page {
  position: relative;
}

.h-40 {
  height: 40% !important;
}

.w-40 {
  width: 40% !important;
}

.h-35 {
  height: 35% !important;
}

.w-35 {
  width: 35% !important;
}

.h-30 {
  height: 30% !important;
}

.w-30 {
  width: 30% !important;
}

/*** xxx-large devices ***/
@media (min-device-width: 2615px) and (max-device-width: 2827px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 35%;
      width: 20%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 25%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

@media (min-width: 2828px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 36%;
      width: 18%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 26%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}
@media (min-device-width: 2615px) and (max-device-width: 2827px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 35%;
      width: 20%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 25%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

@media (min-width: 2615px) and (max-width: 2827px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 35%;
      width: 18%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 25%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}
@media (min-device-width: 2401px) and (max-device-width: 2614px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 35%;
      width: 20%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 25%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

@media (min-width: 2401px) and (max-width: 2614px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 35%;
      width: 20%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 25%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}
@media (min-device-width: 2001px) and (max-device-width: 2400px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 32%;
      width: 21%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 24%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

@media (min-width: 2001px) and (max-width: 2400px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 32%;
      width: 21%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 24%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

/**** x-large devices ****/
@media (min-device-width: 1449px) and (max-device-width: 2000px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 28%;
      width: 25%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 20%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

@media (min-width: 1449px) and (max-width: 2000px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 28%;
      width: 25%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 22%;
      width: 30%;
    }
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1180px;
    height: 380px;
  }
}

@media (min-device-width: 1401px) and (max-device-width: 1448px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 20%;
      width: 35%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 15%;
      width: 30%;
    }
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 28%;
  }
  .card-grid {
    top: -3%;
  }

  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1250px;
    margin: auto;
  }
  .image-banner {
    width: 1200px;
    height: 385px;
  }
}

@media (min-width: 1401px) and (max-width: 1448px) {
  .banner-container {
    height: 1100px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 20%;
      width: 35%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 15%;
      width: 30%;
    }
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 28%;
  }
  .home-grid {
    z-index: 1;
    position: absolute;
    top: 20%;
    //left: 14%;
    // margin: auto;
  }
  .card-grid {
    top: -3%;
  }

  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1250px;
    margin: auto;
  }
  .image-banner {
    width: 1200px;
    height: 385px;
  }
}

@media (min-device-width: 1200px) and (max-device-width: 1400px) {
  .banner-container {
    height: 1080px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 20%;
      width: 35%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 16%;
      width: 30%;
    }
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 28%;
  }

  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 70%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }

  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1150px;
    height: 380px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .banner-container {
    height: 1080px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 20%;
      width: 35%;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      right: 16%;
      width: 30%;
    }
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 28%;
  }
  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 70%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1200px;
    margin: auto;
  }
  .image-banner {
    width: 1150px;
    height: 380px;
  }
}
/**** large devices ****/
@media (min-device-width: 992px) and (max-device-width: 1199px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 1100px;
    background-color: #f5f5f5;

    .homepage-title-left {
      position: absolute;
      top: 2%;
      left: 18%;
      width: 100%;
    }

    .homepage-title-right {
      position: absolute;
      top: 12%;
      left: 15%;
      width: 100%;
    }
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 28%;
  }

  .card-grid {
    top: -3%;
  }

  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1100px;
    margin: auto;
  }
  .image-banner {
    width: 1000px;
    height: 365px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 1100px;
    background-color: #f5f5f5;

    .homepage-title-left {
      position: absolute;
      top: 2%;
      left: 18%;
      width: 100%;
    }

    .homepage-title-right {
      position: absolute;
      top: 12%;
      left: 15%;
      width: 100%;
    }
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 28%;
  }

  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }
  .card-columns {
    column-count: 3;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 1050px;
    margin: auto;
  }
  .image-banner {
    width: 1000px;
    height: 365px;
  }
}
/**** medium devices ****/
@media (min-device-width: 768px) and (max-device-width: 991px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 1350px;
    background-color: #f5f5f5;

    .homepage-title-left {
      position: absolute;
      top: 1%;
      left: 18%;
      width: 69%;
    }

    .homepage-title-right {
      position: absolute;
      top: 9%;
      left: 5%;
      width: 100%;
    }
  }
  .msigportal-title {
    font-size: 1.3rem;
    text-align: center;
  }
  .msigportal-home-title {
    text-align: center;
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 20%;
  }

  .card-grid {
    top: -3%;
  }

  .home-grid-banner-container {
    width: 95%;
    margin: auto;
  }
  .card-columns {
    column-count: 2;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 980px;
    margin: auto;
  }
  .image-banner {
    width: 100%;
    height: 330px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 1350px;
    background-color: #f5f5f5;

    .homepage-title-left {
      position: absolute;
      top: 1%;
      left: 18%;
      width: 69%;
      text-align: center;
    }

    .homepage-title-right {
      position: absolute;
      top: 10%;
      left: 5%;
      width: 100%;
    }
  }
  .msigportal-title {
    font-size: 1.3rem;
    text-align: center;
  }
  .msigportal-home-title {
    text-align: center;
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 20%;
  }

  .card-grid {
    top: -3%;
  }
  .home-grid-banner-container {
    width: 95%;
    margin: auto;
  }
  .card-columns {
    column-count: 2;
  }
  .w-40 {
    width: 25% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 820px;
    margin: auto;
  }
  .image-banner {
    width: 100%;
    height: 330px;
  }
}
/**** small devices ****/
@media (min-device-width: 576px) and (max-device-width: 767px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 2350px;
    background-color: #f5f5f5;

    .homepage-title-left {
      position: absolute;
      top: 0%;
      left: 18%;
      width: 70%;
    }

    .homepage-title-right {
      position: absolute;
      top: 5%;
      left: 7%;
      width: 95%;
    }
  }
  .msigportal-title {
    font-size: 1.3rem;
    text-align: center;
  }
  .msigportal-home-title {
    text-align: center;
  }
  .home-grid-banner-container {
    width: 80%;
    margin: auto;
  }

  .card-grid {
    top: -1%;
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 11%;
  }

  .home-grid-banner-container {
    width: 70%;
    margin: auto;
  }
  .card-columns {
    column-count: 1;
  }
  .w-40 {
    width: 20% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .image-banner {
    width: 750px;
    height: 280px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 2350px;
    background-color: #f5f5f5;

    .homepage-title-left {
      position: absolute;
      top: 0.2%;
      left: 18%;
      width: 70%;
    }

    .homepage-title-right {
      position: absolute;
      top: 5.2%;
      left: 7%;
      width: 95%;
    }
  }

  .msigportal-title {
    font-size: 1.3rem;
    text-align: center;
  }
  .msigportal-home-title {
    text-align: center;
  }

  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 11%;
  }

  .card-grid {
    top: -1%;
  }

  .home-grid-banner-container {
    width: 70%;
    margin: auto;
  }
  .card-columns {
    column-count: 1;
  }
  .w-40 {
    width: 20% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .image-banner {
    width: 750px;
    height: 280px;
  }
}
/**** x-small devices ****/
@media (max-device-width: 576px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 2200px;
    background-color: #f5f5f5;
    padding: 20px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 15%;
      width: 80%;
    }

    .homepage-title-right {
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
    }
  }

  .msigportal-title {
    font-size: 1.2rem;
    text-align: center;
  }
  .msigportal-home-title {
    text-align: center;
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 12%;
  }

  .card-grid {
    top: 0%;
  }
  .home-grid-banner-container {
    width: 90%;
    margin: auto;
  }
  .card-columns {
    column-count: 1;
  }
  .w-40 {
    width: 20% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .msigportal-home-title-right {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .banner-container {
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    height: 2200px;
    background-color: #f5f5f5;
    padding: 20px;

    .homepage-title-left {
      position: absolute;
      top: 5%;
      left: 15%;
      width: 80%;
    }

    .homepage-title-right {
      position: absolute;
      top: 53%;
      left: 20%;
      width: 80%;
    }
  }

  .msigportal-title {
    font-size: 1.2rem;
    text-align: center;
  }
  .msigportal-home-title {
    text-align: center;
  }
  .home-grid-banner {
    z-index: 1;
    position: absolute;
    top: 12%;
  }

  .card-grid {
    top: 0%;
  }
  .home-grid-banner-container {
    width: 90%;
    margin: auto;
  }
  .card-columns {
    column-count: 1;
  }
  .w-40 {
    width: 20% !important;
  }
  .image-blurred-edge {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .msigportal-home-title-right {
    font-size: 0.8rem;
  }
}
