<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SparrpowR Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear SparrpowR User, <br>
    <p>
        The job you submitted on {originalTimestamp} could not be processed due to an internal error. 
        Please contact <a href="mailto:{supportEmail}">{supportEmail}</a> if this issue continues to occur. 
        Include the following job id in your email: {id}
    </p>

    <p>
        Respectfully, <br>
        Spatial-Power Web Tool
    </p>
</body>

</html>