# AWS region/credentials (optional for local; IAM role used in ECS)
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# App
APP_TIER=dev

# AWS S3 params
DATA_BUCKET=
DATA_BUCKET_PREFIX=msigportal/Database/

# Postgres DB
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=msigportal

# Email/SMTP (omit to skip notifications locally)
EMAIL_ADMIN=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=25
