.exploringNav.active-secondary-navlinks:after {
    content: '';
    display: block;
    padding-top: 2px;
    width: 100%;
    border-bottom: 2px solid #2c71dd !important;
    margin-bottom: -5px;
  }