fieldset {
  legend {
    font-size: 1rem;
    // font-weight: bold;
    width: auto;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;

  &:before,
  &:after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #000;
  }

  &:not(:empty)::before {
    margin-right: 0.25em;
  }

  &:not(:empty)::after {
    margin-left: 0.25em;
  }
}

.btn.btn-primary {
  min-width: 120px;
}

.btn.btn-secondary.reset {
  min-width: 120px;
}
