div.sigIcon {
  // position: relative;
  overflow: hidden;
  padding: 1px 1px;
  cursor: pointer;
  margin: auto;
  border-color: steelblue !important;

  &:hover {
    border: 1px solid steelblue !important;
  }
  &.active {
    border: 3px solid steelblue !important;
  }
  &.inactive {
    border-color: #343a40 !important;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }

  img {
    margin: -0.5rem 0;
  }
  .sigLabel {
    text-align: center;
    margin-top: -0.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25rem;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;

  &:before,
  &:after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #000;
  }

  &:not(:empty)::before {
    margin-right: 0.25em;
  }

  &:not(:empty)::after {
    margin-left: 0.25em;
  }
}

button.disabled.btn-dark {
  opacity: 0.69;
}
